header {
  align-items: flex-start;
  text-align: left;
  padding: 8rem 5% 4rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header h1 {
  font-size: 4rem;
  color: var(--text-primary);
  line-height: 1.1;
  margin-top: 16px;
  margin-bottom: 16px;
}

header h2 {
  font-size: 2rem;
  color: var(--text-secondary);
  font-weight: 400;
}

header p {
  max-width: 600px;
  color: var(--text-secondary);
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.btn {
  font-weight: 500;
  background: #4672fe;
  color: var(--text-primary);
  text-decoration: none;
  border-radius: 0.5rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
